---
import { type CollectionEntry, getCollection } from 'astro:content'
import validSlug from '../../content/validSlug.mjs'
import BlogPost from '../../layouts/BlogPost.astro'


export async function getStaticPaths() {
	const posts = await getCollection('blog')
	return posts.map((post) => ({
		params: { slug: validSlug.parse(post.slug) },
		props: post,
	}))
}
type Props = CollectionEntry<'blog'>

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
	<Content />
  <p>
    <a href="../../" alt="Back to list">
      Back
    </a>
  </p>
</BlogPost>

<style>
p {
  text-align: center;
}
</style>
